body {
    background-image: url('https://storage.googleapis.com/pai-images/41cd7dfadb884e72849732d3424e3f0b.jpeg'); /* Caminho para sua imagem de fundo */
    background-color: #000; 
    color: #fff; 
    font-family: 'Noto Sans SC', sans-serif; 
}

header {
    background-color: #8b008b; 
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #8b008b; 
    padding: 20px;
    text-align: center;
}

.redesSociais a {
    color: #fff; 
    text-decoration: none;
    margin: 0 10px;
}

.main {
    padding: 20px;
}

.attention {
    background-color: #8b008b; 
    padding: 10px;
    text-align: center;
}

.container {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.text-boxes {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.text-boxes textarea {
    width: 200px;
    margin: 0 10px;
}

.buttons {
    margin-top: 10px;
}

button {
    background-color: #8b008b; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #800080; 
}
